/* styles.css */

/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
}

h1 {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display: inline;
    text-align: center;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
    text-decoration: none;
  }
   */
main {
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-bottom: 40px;
}

h2 {
  display: flex;
  margin-top: 12px;
  text-align: center;
  justify-content: center;
}

.experience {
  margin-bottom: 20px;
}

.experience h3 {
  margin-top: 0;
}

.experience img {
  max-width: 100%;
  height: auto;
}

form input[type="text"] {
  padding: 10px;
  font-size: 16px;
}

form button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}
/* styles.css */

nav {
  text-align: end;
}

nav ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}
.bhai {
  display: flex;
}

main p {
  display: flex;
  justify-content: center;
  margin: 23px 23px;
}
main img {
  display: flex;
  width: 385px;
  height: 300px;
  margin: 39px 53px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.btn{
  margin: 10px 184px;
  padding: 7px 18px;
  height: 36px;
  color: black;
  border: 2px solid deepskyblue;
cursor: pointer;

}
